.container {
    width: 100%;
    max-width: 440px;
    height: 450px;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    background-color: var(--green-900);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px var(--box-shadow);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    h2 {
        font-size: 2rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    span {
        align-self: flex-end;
        font-size: 0.75rem;
        color: var(--green-500);

        display: flex;
        align-items: center;
        justify-content: center;
        filter: brightness(0.75)
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
        font-size: 1rem;
        font-weight: 500;
        font-family: Sarala, sans-serif;
        text-align: justify;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        max-height: 70px;
        overflow-x: hidden;
    }

    li {
        background-color: var(--green-750);
        color: var(--green-250);
        padding: 0.25rem 1rem;
        border-radius: 99999px;
        font-size: 0.75rem;
    }
}

.footer {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 4rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title language"
        "url language";

    h3 {
        grid-area: title;
        display: flex;
        align-items: center;

        svg {
            margin-left: 0.5rem;
        }
    }

    a {
        grid-area: url;
        text-decoration: none;
        color: var(--green-500);
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 1.5rem;

        font-size: 0.75rem;
        
    }

    img {
        grid-area: language;
        align-self: flex-end;
        width: 4rem;
    }
}

// Changing style - Scroll Bar //
/* width */
::-webkit-scrollbar {
    width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--green-750);
    border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green-500);
    border-radius: 0.5rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--green-250)
    }
}
