*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --background: #212322;
    --input: #2E312F;
    --box-shadow: #0087797a;

    --green-900: #0F3138;
    --green-750: #123B44;
    --green-500: #008779;
    --green-250: #7EB7B5;
    --green-100: #B9E2E1;

    --grey-500: #666666;

    --white: #FFF
}

#App {
    height: 100vh;
    width: 100vw;
}

body, h1, h2, input, button{
    font-family: Roboto, sans-serif;
    color: var(--white);
}

body{
    background: var(--background);
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    font: 500 5rem Roboto, sans-serif;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

@media(max-width: 900px) {
    html {
        font-size: 93.75%; // 15px
    }
}


@media(max-width: 700px) {
    html {
        font-size: 87.50%; // 14px
    }
}

@media(max-width: 450px) {
    html {
        font-size: 81,25%; // 14px
    }
}