.container {
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;

    padding: 1rem 0.75rem;
    margin: 1.5rem 0rem;
}

.button {
    border-radius: 0.5rem;
    border: none;
    background: var(--green-500);
    font-weight: 700;
    font-size: 1rem;

    transition: filter 0.3s;

    svg {
        margin-left: 1rem;
    }

    &:hover {
        filter: brightness(0.85)
    }
}

.span {
    background: var(--acent);
    color: var(--green-500);
    border-radius: 50%;
}