.searchInput {
    min-width: 80%;
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: 4rem;
    grid-template-areas: 
    "input button";

    input {
        grid-area: input;

        border: none;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
        outline: none;

        font-size: 1rem;
        background: var(--input);

        &:focus{
            box-shadow: inset 0px 0px 5px var(--green-500) ;
        }
    }

    button {
        grid-area: button;

        border: none;
        border-radius: 0 0.5rem 0.5rem 0;
        background: var(--green-500);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: filter 0.3s;

        &:hover {
            filter: brightness(0.75);
        }
    }
}

@media(max-width: 500px) {
    .searchInput {
        margin: auto;
    }
}